#stackedLinePlot {
/*width:130%;*/
width:100%;
margin-top:20% !important;
}

#stackplotLegend {

  border: none;
  display: flex;
  
  top:-10%;
}

path{
  pointer-events:all;
}

.btn-sm:active{
  background-color: aliceblue !important;
  border-color: aliceblue !important;

}